
<ion-view view-title="Avisaí">
    <ion-content>
      <ion-refresher pulling-text="Atualizando..." on-refresh="lstCtrl.doRefresh()">
      </ion-refresher>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Quadro de Avisos</strong>
        </div>
        <ion-list class="animate-ripple">
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-repeat="n in lstCtrl.notifiationList">
                <img src="img/material4.jpg" ng-src="img/{{n.name}}">
                <h2>{{n.NotificationType.Name}}</h2>
                <p>{{n.Name}}</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
