
<ion-view view-title="Apresentação">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Como utilizar</strong>
        </div>
        <div class="im-wrapper">
          <h4 class="border-top">
              <i class="icon ion-ionic"></i>
              Bem vindo ao AvisaAí!!
          </h4>
          <p>Sabe quando alguma coisa acontece e que você precisa ficar sabendo e ninguém te avisa? Chegamos para te ajudar!
             AvisaAí é um aplicativo que fornece ao usuário as informações mais atualizadas sobre os assuntos que lhe dizem respeito. Doações,  promoções, serviços e muito mais! 
          </p>
          <h3>Fique por dentro de tudo que está acontecendo perto de você com o AvisaAí.   </h3>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
