
<ion-view view-title="Apresentação">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Como utilizar</strong>
        </div>
        <div class="im-wrapper">
          <h4 class="border-top">
              <i class="icon ion-ionic"></i>
              Hub de Avisos gerais para você que quer sempre estar atualizado com a sua região.
          </h4>
          <p>O Avisaí, é um HUB de notificações aonde registramos qualquer tipo de notificação para pessoas que estejam na sua proximidade. Desde vendas de serviços, doações, trocas e até o mais importante, avisar os proximos de algum perigo! Não deixe de se manter informado e atualiado com tudo que está em sua proximidade.</p>
          <h3>Para utilizar, é so se cadastrar e receber as informações da sua região!  </h3>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
